<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">



<div class="container text-center">

    <br>
    <br>
    <br>
<h2>Привет! Меня зовут Кирилл!</h2>
<h4>Я создал сайт по генерации случайных паролей! Да, я знаю, существует много сайтов с генерацией
    случайного пароля. Вы спросите меня: почему тогда нужно выбрать именно твой сайт? Всё просто,
    я сделал этот сайт через кровь, слезы, боль и агонию. Это мой первый сайт, и сейчас я очень рад!</h4>

    <br>
    <br>

<h2>Hello! My name is Kirill!</h2>
<h4>I created a site to generate random passwords! Yes, I know there are many sites with <br>
    random password. You ask me: why then you need to choose your site? It's simple <br>
    I made this site through blood, tears, pain and agony. This is my first site and now I am very happy!</h4>

    <br>
    <br>
    Переведено через Google Translate, не ругайтесь :)<br>
    Translated via Google Translate, don't swear :)
</div>